DATABASE_URL="postgresql://rajaram_db_user:Vv545GPV1rNAt3WxcQipglOvoNRJp3eZ@dpg-d74bhqh5pdvs7384cf10-a.singapore-postgres.render.com/rajaram_db"
JWT_SECRET="5465fc374e4e0be8e509bbf6d786d99f"
CLIENT_ORIGIN="https://new-rajaram-estore.onrender.com"
RAZORPAY_KEY_ID="rzp_live_tqfZwLk7o0sL3N"
RAZORPAY_KEY_SECRET="U6wJp2eRr6V85gT3q4R7s9T1"
RAZORPAY_WEBHOOK_SECRET="67a8d34d-0141-4191-a46a-357645596260"
